

  <div class="entry_title">Company</div>

  <table class="templated_entry_table"
  	<form id="company" class="template_form">
    	    <tr>
		<td class="field_label">Name:</td>
		<td><input type="text" name="name" /></td>
	    </tr>
	
    	    <tr>
		<td class="field_label">Type:</td>
		<td><input type="text" name="type" /></td>
	    </tr>

	    <td class="field_label">Stage:</td>
		<td>
		    <select name="stage" class="choice">
			<option>Big Company</option>
			<option>Series B Startup</option>
			<option>Series A Startup</option>
			<option>Pre-IPO Startup</option>
		    </select>
		</td>
	    </tr>

	    <tr>
		<td class="field_label">Location:</td>
		<td class="field_input">
		    <input type="text" name="location" class="address">
 		</td> 	
	    </tr>

	    <tr>
		<td class="field_label">Website:</td>
		<td class="field_input">
	    	    <input type="text" name="website" class="url">
		</td>
  	    </tr>
	    
	    <tr>
		<td></td>
		<td>
			
   			 <div class="add_templated_entry_button">
				<span>Save</span>
    			</div>
		</td>
            <tr>
  	</form>
  </table>
