  <div class='list-actions'>
    <a href='' id='' class='add-list-item'>Add an Entry</a>
  </div>
  <div class='entries_container'>
    <% @entries.each do |entry| %>
        <div class='entry_container'>
            <a href='/entries/get/<%= entry.id %>'><%= entry[:title] %></a>
        </div>
    <% end %>
  </div>
