<div id='list_item_<%= @entry.id %>' class='list_item'>
    <div id='list_entry_container_<%= @entry.id %>' class='list_entry_container'>
        <div class='list_entry_title'>
            <%= @entry.title %>
        </div>
    </div>
</div>
