<p>Templates</p>

<table>
  <tr>
     <td><a href='templates/show/fitness'>Fitness</a></td>
  </tr>

  <tr>
     <td><a href='templates/show/job'>Job</a></td>
  </tr>

  <tr>
     <td><a href='templates/show/company'>Company</a></td>
  </tr>

  <tr>
     <td><a href='templates/show/question'>Question</a></td>
  </tr>
</table>
