<div id="editor_container">
  <div id="add_new_button_wrapper" class="dropdown_button_wrapper">
      <dl class="dropdown">
        <dt id="add_new_button"><span>Add New</span></dt>
        <dd>
	    <ul id="dropdown_item_list">
		<li><a href="#">QuickNote</a></li>
 		<li><a href="#">QuickList</a></li>
		<li><a href="#">Job</a></li>
		<li><a href="#">Fitness</a></li>
                <li><a href="#">House</a></li>
                <li><a href="#">Travel</a></li>
	        <li><a href="#">Books</a></li>
		<li><a href="#">Kids</a></li>
		
            </ul>
        </dd>
      </dl>
  </div>
</div>
