<p style='float:right; padding-right:30px'>
    <span class='header-menu'><a href='' id='create-menu'>Create</a></span>
    <span class='header-menu'><a href='' id='share-menu'>Share</a></span>
    <span class='header-menu'><a href='' id='settings-menu'>Settings</a></span>
</p>

