<div id="main-editor">
    <div id="main-editor-top-controls" class="top-controls">
        <span><a href="" id="editor-save-button" class="flat-button">Save</a></span>
    </div>

    <div id="main-edit-area">
    
    </div>
</div>
