    <div class="quick-add-button search-and-add-action">
        <div>
            <span class="button-text">Add</span>
        </div>
        <div id="entry-types-dropdown" style="display:none">
            <ul id="entry-types">
                <li id="1"><a href="#" id="1">Running Log Entry<a></li>
                <li id="2"><a href="#" id="2">Diet</a></li>
                <li id="3"><a href="#" id="3">Job</a></li>
                <li id="4"><a href="#" id="4">Company</a></li>
                <li id="5"><a href="#" id="5">House</a></li>
            </ul>
        </div>
    </div>

    <div class="search-and-add-box input-mode search-and-add-action">
        <input type="text" placeholder="Search for Entry Title, Topic, Place..."/>
    </div>



