
<div id="template_controls_container" class="template_designer_container">

   
	<table id="template_controls_table">
	    <tr id="controls_row">
            <td style='width:80px'>
                <input type='text' id='template_name_input' 
                    name='template_name' value='<%= @template[:name] %>' class='with_prompt'></input>
            </td>
		    <td>
		      <select id="add_field">
			    <option value="select_type">Select a Type</option>
		    	<option value="t_text">Text</option>
			    <option value="t_textarea">Text Area</option>
			    <option value="t_location">Location</option>
                <option value="t_number">Number</option>
                <option value="t_url">URL</option>
                <option value="t_autolist_select">AutoList Select</option>
                <option value="t_photo">Photo</option>
 			    <option value="t_datetime">Date & Time</option>
                <option value="t_email">Email</option>
			    <option value="t_dropdown">Drop Down</option>
			    <option value="t_checkbox">Check Box</option>
		        <option value="t_list">List</option>
              </select>
		    </td>
            <td>
            </td>
	    </tr>

        <tr id="save_row">
            <td>
                <div id="save_template_button" class="save_button">
                    Save
                </div>
            </td>
            <td></td>
            <td></td>
        </tr>
	</table>




</div>

