<p>Partial shared/_top_actions_container.htm..erb</p>

  <div class='top-actions-container'>
    <div class="search-and-add-container">
        <%= render :partial=>"shared/search_and_add_container",
                :locals => {

                           }
        %>
    </div>                                                              
 </div>    
