<div id="views_container">
  <span class="view_icon">
  	<a href="">Dashboard</a>
  </span>
  <span class="view_icon">
	<a href="">Day/Calendar</a>
  </span>
 
  <span class="view_icon">
  	<a href="">Progress/Timeline</a>
  </span>

  <span class="view_icon">
 	<a href="">Resources</a>
  </span>
  <span class="view_icon">
  	<a href="">Photobook/Slideshow</a>
  </span>
</div>
