<div id="views_container">
  <span class="view_icon">
  	<a href="">Dashboard</a>
  </span>
  <span class="view_icon">
	<a href="">Day/Calendar</a>
  </span>
 
  <span class="view_icon">
  	<a href="">Progress/Timeline</a>
  </span>

  <span class="view_icon">
 	<a href="">Resources</a>
  </span>
  <span class="view_icon">
  	<a href="">Photobook/Slideshow</a>
  </span>

  <span class="view_icon">
    <a href="/boards">Boards</a>
  </span>

  <span class="view_icon">
    <a href="/blocks">Blocks</a>
  </span>

  <span class="view_icon">
    <a href="/entries">Entries</a>
  </span>

  <span class="view_icon">
    <a href="/templates">Templates</a>
  </span>
</div>
