<div id='block-container-<%= @block.id %>' class='block-container'>

   <div class='entry_actions_container_top'>
    
     Block Name: <%= @block.name %>
   </div>   

   
    <div id='editor_wrapper'>
         <div class='template_container' id='<%=@block.template.id %>'>

            <%= render :partial=>"templates/table_format", :locals=>{:mode=>@mode, 
                            :template=>@block.template, :saveUrl => @saveUrl, :saveButtonClass=>@saveButtonClass} 
             %>
        </div>
    </div>
</div>
