.save_entry_button {
    border: 1px solid lightgrey;
    border-radius: 3px 3px 3px 3px;
    background-color: whiteSmoke;
    text-align: center;
    font-size: 12px;
    padding: 3px 5px;
    width: 120px;
}

.t_list_item {
    margin-bottom: 5px;

}
