#new-entry-button{
    margin:0
    padding: 0;
    list-style: none;
}



.entry_container {
    margin-bottom: 10px;
}

.save_entry_button {
    border: 1px solid lightgrey;
    border-radius: 3px 3px 3px 3px;
    background-color: whiteSmoke;
    text-align: center;
    font-size: 12px;
    padding: 3px 5px;
    width: 120px;
}

.t_list_item {
    margin-bottom: 5px;

}

.list_entry_container {
    border-bottom: 1px solid lightgrey;
    margin-bottom: 5px;
}
.list_entry_container:hover {
    background-color: lightgray;
}
.list_actions{
    margin-bottom: 10px;
    font-size: 10px;
    font-weight: normal;
}
.list_item_actions{
    font-size: 9px;
    font-weight: normal,
    margin-bottom: 5px;
    color: lightgray;
}
