body {
   font-family: georgia; 
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.ui-dialog {
  background: whiteSmoke; 

}
.ui-state-active .ui-state-default .ui-widget-content .ui-state-active {
    border: 1px solid lightgray;
    background-color: transparent;
}
.ui-widget-header {
    background: transparent;
}
.ui-widget-content {
    background: transparent;
}
.ui-state-default{
    font-weight: normal;
}
div#header {
   height:40px;
   position:relative;
   width:auto;
   z-index:20; 
   border-bottom: 1px solid #DDD;
   margin-bottom: 20px;
}
div#logo {
   text-align: left;
   font-size: 1em;
}
div#views {
   margin-top:8px;
   font-color: #DDD;
}
span.view_icon {
   margin-right: 7px;
}

.container-fluid > .sidebar {
   position: absolute;
   right: 20px;
   top: 0;
   width: 220px;
   min-height: 700px;
   left: auto;
   border-left: 1px dashed lightgray;
}

.container-fluid > .content {
   margin-right: 240px;
   margin-left: 10px;
   padding: 10px;
   min-height:700px;
}

ul {
    list-style: none outside none; 
}


.t_table td{
    border: 0px; 
}

.list-item-container {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid lightgrey;

}

.control_button .select_button {
    color: lightgray;
    font-size: 120px;
}


.save_button {
    border: 1px solid lightgrey; 
    border-radius: 3px 3px 3px 3px;
    background-color: whiteSmoke; 
    text-align: center;
    font-size: 15px;
    padding: 5px 10px;
    width:  100px;
    margin-top: 5px;
}

.save_button :hover{ 
    border: 1px solid grey;
    background-color: lightgrey;

}

.new_button {
    border: 1px solid lightgrey;
    border-radius: 3px 3px 3px 3px;
    background-color: whiteSmoke;
    text-align: center;
    font-size:12px;
    padding: 3px 5px;
    width: 120px;
}
.add-button {
    border: 1px solid lightgrey;
    border-radius: 3px 3px 3px 3px;
    background-color: whiteSmoke;
    text-align: center;
    font-size: 11px;
    padding: 3px 7px;
    width: 150px;



}

.add_list_item{
    border: 1px solid lightgray;
    border-radius: 2px 2px 2px 2px;
    background-color: whiteSmoke;
    text-align: center;
    padding: 3px 7px;
    margin-bottom: 10px;
    
}
.ui-draggable {
  border: 2px solid lightgray;
  cursor: move;
}

.form_label {
  font-size: 12px;
  margin-bottom: 5px;
  color: grey; 
}

.form_row {
  margin-bottom: 10px;
}
.prompt_text{
  color: lightgray;
}

.title {
    min-height: 30px;
}
.title_input {
    min-height: 15px;
    width: 90%;
}


.top-actions-container {
    text-align: right;
    border: 1px solid lightgray;
    float: right;

}

.search-and-add-container {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px 3px 3px 3px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25) inset, 0 1px 0 rgba(255, 255, 255, 0.5);
    color: #333333;
    height: 35px;
    margin: padding;
    overflow: hidden;
    position: relative;
    text-align: left;
    text-shadow: none;
    width: 500px;
}

.search-and-add-container > .search-and-add-action {
    display: inline-block;
    height: 30px;
}

.quick-add-button {
    background-color: lightgray;
    padding: 10px;
    margin: 2px;
    width: 58px;
    text-align: left;
}
.search-and-add-box{
    height: 100%;
    padding: 5px;
}
