body {
   font-family: georgia; 
}

h1 {
  font-size: 2em;
  margin-bottom: 1em;
}

.ui-dialog {
  background: whiteSmoke; 

}
div#header {
   height:40px;
   position:relative;
   width:auto;
   z-index:20; 
   border-bottom: 1px solid #DDD;
   margin-bottom: 20px;
}
div#logo {
   text-align: left;
   font-size: 1em;
}
div#views {
   margin-top:8px;
   font-color: #DDD;
}
span.view_icon {
   margin-right: 7px;
}

.container-fluid > .sidebar {
   position: absolute;
   right: 20px;
   top: 0;
   width: 220px;
   min-height: 700px;
   left: auto;
   border-left: 1px dashed lightgray;
}

.container-fluid > .content {
   margin-right: 240px;
   margin-left: 10px;
   padding: 10px;
   min-height:700px;
}

ul {
    list-style: none outside none; 
}


.t_table td{
    border: 0px; 
}

.list-item-container {
    margin-bottom: 5px;
    padding: 5px;
    border-bottom: 1px solid lightgrey;

}
.save_button {
    border: 1px solid lightgrey; 
    border-radius: 3px 3px 3px 3px;
    background-color: whiteSmoke; 
    text-align: center;
    font-size: 15px;
    padding: 5px 10px;
    width:  100px;
    margin-top: 5px;
}

.save_button :hover{ 
    border: 1px solid grey;
    background-color: lightgrey;

}

.new_button {
    border: 1px solid lightgrey;
    border-radius: 3px 3px 3px 3px;
    background-color: whiteSmoke;
    text-align: center;
    font-size:12px;
    padding: 3px 5px;
    width: 120px;
}
.add-button {
    border: 1px solid lightgrey;
    border-radius: 3px 3px 3px 3px;
    background-color: whiteSmoke;
    text-align: center;
    font-size: 11px;
    padding: 3px 7px;
    width: 150px;



}
.ui-draggable {
  border: 2px solid lightgray;
  cursor: move;
}

.form_label {
  font-size: 12px;
  margin-bottom: 5px;
  color: grey; 
}

.form_row {
  margin-bottom: 10px;
}
