

/* CSS for templates controller*/

.template_designer_container {
    width: inherit;
    padding: 10px;
}

.template_container {
    padding: 5px;
    max-width:800px;
    min-width: 450px;
}

#template_controls_table {
    padding: 5px; 
}
#t_table td{
  padding: 5px;
}

.editor_container {
    width: 100%; 
    padding: 10px 10px;
    border: 1px solid lightgray;
    border-radius: 5px 5px 5px 5px;
    min-width: 600px;
}

.form_label_td {
  text-align: right;
}

.form_control_td {
  text-align: left;
  width: 20px;
  font-size: 10px;
}

.edit_field_label {
  color: gray;
  vertical-align: middle;
}

.t_label {
  width: 145px;
}
.label_input {
  width: inherit; 
}
.edit_field_label:hover {
  background-color: lightblue;
}

.label_cell {
  width: 150px;

}

.t_label {
  -moz-border-radius: 3px 3px 3px 3px;
  background-color: #BFBFBF;
  color: #FFFFFF;
  font-size: 9.75px;
  font-weight: bold;
  padding: 1px 3px 2px;
  text-shadow: none;
  text-transform: uppercase;
  white-space: nowrap;
  text-align: right;
}

.title_input {
 font-size:15px;
 height: 25px;
 width: 100%
}

.field_input {
  color: grey;
  padding: 5px 5px;
  display: inline;
  vertical-align: top;
  
}

.form_field {
  min-width: 450px;
  width: 100%
}

.t_textarea {
  min-height: 120px;
}

.t_number {
  min-width: 50px;
}
.t_unit {
  background-color: lightgray;
  color: gray;
  font-size: 10px;
}

.field_control{
  font-size: 12px;
  color: lightgray;
  padding-right: 10px;
}


.list_entries_container {
  width: 600px;
}

.list_entries_container li {
  line-height: 25px;
  border-bottom: 1px dashed lightgray;
}

.list_entries_container .template_info {
}
.t_controls {
  padding-left: 300px;
}

.t_controls span {
  font-size: 10px;
  color: #808080;  
  padding-right: 5px;
}

.field_config_actions{  
    font-size: 10px;
    color: gray;
    margin-top: 5px; 
    padding: 5px;
    border: 1px solid lightgray;
    margin-left: 5px;
    
}
.field_config_actions input{
    width: 90%;
}
.field_config_actions .auto_populate_button {
    border: 1px solid lightgray;
    font-size: 12px;
    padding: 5px;
    background-color: whitesmoke;
    margin-bottom: 5px;
}
.field_config_actions .enter_options_text {
    margin-top: 5px;
}

.entry_actions_container_top {
    padding: 10px 10px;
}

.entry_actions_container_bottom {
    padding: 10px 10px;
}
.entry_title_container{
    padding: 10px 10px;
}
.md_label {
    width: 150px;
    text-align: right;
    background-color: whiteSmoke;
}
.md_input {
    margin-left: 160px;
}
