  <div class='composite_field'>
        <% if context[:mode] =='display' %>
           <%= fieldValue.metadata[:location] %>
        <% else %>
           <input id=<%= field.id %>_location class='form_field' type='text'></input>
        <% end %>

    <div class='map'>
    </div>
  </div>
