


  <div class="entry_title">Job</div>

  <table class="templated_entry_table"
  	<form id="job" class="template_form">
    	    <tr>
		<td class="field_label">Date:</td>
		<td><input type="text" name="date" /></td>
	    </tr>
	
	    <tr>
		<td class="field_label">Cardio:</td>
		<td>
		    <select name="cardio" class="choice">
			<option>Running</option>
			<option>Walking</option>
			<option>Dance</option>
			<option>Gym Exercise</option>
		    </select>
		</td>
	    </tr>

	    <tr>
		<td class="field_label">Time:</td>
		<td class="field_input">
		    <input type="text" name="time" class="numeric_with_unit"> mins
 		</td> 	
	    </tr>

	    <tr>
		<td class="field_label">Calories Burned:</td>
		<td class="field_input">
	    	    <input type="text" name="calories_burned" class="numeric_with_unit"> kcals
		</td>
  	    </tr>

	    <tr>
		<td class="field_label">Weight:</td>
		<td class="field_input">
		    <input type="text" name="weight" class="numeric_with_unit"> lbs
		</td>
	    </tr>
	    <tr>
		<td></td>
		<td>
			
   			 <div class="add_templated_entry_button">
				<span>Save</span>
    			</div>
		</td>
  	</form>
  </table>
